@{
    Layout = null; // Bỏ layout mặc định của MVC để Angular chiếm trọn vẹn màn hình
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Travel App - Home</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="~/styles.css" asp-append-version="true" />
</head>
<body>
    
    <app-root>
        <div style="text-align: center; margin-top: 100px;">
            <h3>Hệ thống Travel đang tải giao diện...</h3>
        </div>
    </app-root>

    <script src="~/main.js" asp-append-version="true"></script>
</body>
</html>
